<h1>Privacy Statement</h1>
<br />

&lt;eat-sleep-code/&gt; has created this statement in order to demonstrate our firm commitment to privacy. The following discloses our information gathering and dissemination practices for the following websites: eat-sleep-code.com 
<br />
<br />

<h2>Collection Of Personal Information</h2>
We use your IP address to help diagnose problems with our server, and to administer our website. Your IP address is used to gather broad demographic information.
<br />
<br />
Our site uses cookies to keep track of your site registration. We may use cookies to save your password so you don't have to re-enter it each time you visit our site.
<br />
<br />
On some pages of this website, we ask you to provide personal information, such as your e-mail address, name, home or work address, or telephone number. We may also collect demographic information, such as your ZIP code, age, gender, preferences, interests and favorites. If you choose to make a purchase or sign up for a paid subscription service, we will ask for additional information, such as your credit card number and billing address, which is used to create a billing account. 
<br />
<br />

<h2>Children's Guidelines</h2>
&lt;eat-sleep-code/&gt; does:
<br />
<br />
<ul>
<li>NOT collect online contact information without prior parental consent or parental notification, which will include an opportunity for the parent to prevent use of the information and participation in the activity. Without prior parental consent, online information will only be used to respond directly to the child's request and will not be used for other purposes without prior parental consent<br /><br /></li>
<li>NOT collect personally identifiable offline contact information without prior parental consent<br /><br /></li>
<li>NOT distribute to third parties any personally identifiable information with out prior parental consent<br /><br /></li>
<li>NOT give the ability to publicly post or otherwise distribute personally identifiable contact information without prior parental consent<br /><br /></li>
<li>NOT entice by the prospect of a special game, prize or other activity, to divulge more information than is needed to participate in the activity<br /><br /></li>
</ul>


<h2>Security</h2>
This site has security measures in place to protect the loss, misuse and alteration of the information under our control. 
<br />
<br />

<h2>Links To Other Resources</h2>
This site contains links to other websites. &lt;eat-sleep-code/&gt; and its associated individuals and organizations are not responsible for the privacy practices or the content of such websites. 
<br />
<br />

<h2>Choice/Opt-Out</h2>
Our site provides users the opportunity to opt-out of receiving communications from us and our partners at the point where we request information about the visitor. 
<br />
<br />
This site gives users the following options for removing their information from our database to not receive future communications or to no longer receive our service. You can send email to the following email address: <a href="mailto:privacy@eat-sleep-code.com">privacy@eat-sleep-code.com</a>
<br />
<br />

<h2>Contacting the Website</h2>
This site gives users the following options for contacting the operators of this website in regards to, this privacy statement, the practices of this site, or dealings with this website. You can send email to the following email address: <a href="mailto:privacy@eat-sleep-code.com">privacy@eat-sleep-code.com</a>
<br />
