<h1>Unsubscribe</h1>
<br />

<div id="UnsubscribedAlert" class="alert alert-success">
	This email address has been unsubscribed from this service.
</div>

<form role="form" id="UnsubscribeForm">
	<div class="form-group row">
		<label for="EmailAddress" class="sr-only legacy-label">Your Email Address</label>
		<input type="email" id="EmailAddress" name="EmailAddress" maxlength="255" class="form-control" placeholder="Your Email Address" value="{{emailAddress}}" />
	</div>
	<div class="form-group row" id="CaptchaRow">
		<div class="col-xs-6 col-md-3 no-padding">
			<canvas id="CaptchaCanvas" class="captcha-canvas" />
		</div>
		<div class="col-xs-12 col-md-9 no-padding">
			<input type="text" id="Captcha" name="Captcha" maxlength="6" class="form-control" placeholder="Type the code displayed in the image." />
		</div>
	</div>
	<div class="form-group row">
		<button type="button" class="btn btn-default" id="UnsubscribeButton">Unsubscribe</button>
	</div>
</form>
<div id="dataPlaceholder"></div>
<script type="text/javascript" src="/scripts/unsubscribe.js" defer="defer"></script>


