<h1>Unsubscribe</h1>
<br />



<div id="UserUnsubscribedAlert" class="alert alert-warning">
	This email address has been unsubscribed from this service.   Thank you.
</div>

<form role="form" id="UnsubscribeForm">
		<label for="ToEmailAddress" class="sr-only legacy-label">Recipient's Email Address</label>
		<input type="email" id="ToEmailAddress" name="ToEmailAddress" maxlength="255" class="form-control" placeholder="Recipient's Email Address" />
</form>
<div id="dataPlaceholder"></div>

<script type="text/javascript">
	$(document).ready(function () { 
		// Set initial state of form...
		$('#UserUnsubscribedAlert').hide();
		$('#UnsubscribeForm').show();
		
		// Toggle already unsubscribed message based on recipient's email address...
		$('#ToEmailAddress').blur(function() {
			$('#dataPlaceholder').sheetrock({
	  			url: unsubscribeDatasource,
	  			sql: "select B where B = '" + $("#ToEmailAddress").val() + "'",
				formatting: false,
	  			dataHandler: isUserUnsubscribed
			});
		
			function isUserUnsubscribed(data)
			{
				//$('#dataPlaceholder').html('<pre>' + JSON.stringify(data) + '</pre>');
				if (data.table.rows[0] !== undefined) {
					$('#UserUnsubscribedAlert').show();
					$('#UnsubscribeButton').attr("disabled", "disabled");
					// console.log("Unsubscribed: true");
				}
				else {
					$('#UserUnsubscribedAlert').hide();
					$('#UnsubscribeButton').removeAttr("disabled");
					// console.log("Unsubscribed: false");
				}
			}
		});
